{% extends 'layout.html.twig' %}


{% block content %}

<table class="table table-dark mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Membre</th>
                <th>Etat</th>
                <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for c in commandes %}
            
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.montant | number_format(2, ',', ' ') }}</td>
                <td>{{ c.dateEnregistrement | date("d/m/Y H:i:s") }}</td>
                <td></td>
                <td>
                {% if c.etat == 0 %}<strong style="color:red">En cours de traitement</strong>
                {% elseif c.etat == 1 %}<strong style="color:orange">En cours de livraison</strong>
                {% elseif c.etat == 2 %}<strong style="color:lightgreen">Livrée</strong>
                {% else %}<strong>Livrée</strong>
                {% endif %}

                
                
                </td>
                
                
                

                <td><a href="{{ path('admin_commande_update', {'id': c.id } ) }}" class="text text-warning"><i class="fas fa-edit"></i></a></td>
                <td><a href="{{ path('admin_commande_delete', {'id': c.id } ) }}"  onclick="return confirm('Etes-vous sur de vouloir supprimer ce membre ? ')" class="text text-danger"><i class="fas fa-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}